.list-group-item{
    margin-bottom: 1em;
}

.date{
    text-align: right;
    font-size: 1.1em;
}

h4{
    margin-top: -1.4em;
    font-size: 1.5em;
    font-weight: bold;
}

p{
    font-size: 1.1em;
}
